$link--margin:40px;
$id--top:227px;
$main--margin:25px;
$button--margin:45px;
$line--margin:26px;
$items--margin:80px;
$main-section-margin:37px;
$item--picture--margin:54px;
$button--main--margin:72px;
$container--margin:190px;
$personal--section--margin:70px;
$direction--margin:47px;
$cards--margin:76px;