$container--padding:26px;
$button--top--padding:3px;
$button1--near--padding:51px;
$button--near--padding:40px;
$main--padding:190px;
$inner--padding:37px;
$inner--bottom--paddin:46px;
$slider--padding:20px;
$slider--title--paddind:64px;
$item--text--padding:21px 40px;