.text {
    text-align: center;
    color: white;
}

.image {
    object-fit: cover;
    width: 50px;
}

.image img {
    width: 100%;
}

.text h2 {
    font-size: 13px;
}

.text h1 {
    font-size: 23px;
}

.text p {
    font-size: 17px;
    font-weight: 500;
}