.container {
    display: flex;
    justify-content: space-around;
}

.box {
    width: 350px;
    border: 1px solid black;
    margin: 10px;
}

.image {
    object-fit: cover;
}

.image img {
    width: 100%;
}

.title {
    padding: 15px;
    font-family: sans-serif;
    font-weight: 700;
}

.text {
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 600;
}