#PageMain {
    font-family: $font-family;
    margin-top: 30px;
    .container {
        padding: 30px 100px;
        .main {
            .main__filter {
                display: flex;
                justify-content: center;
                .headfilter {
                    display: flex;
                    gap: 40px;
                    .element {
                        .link--different {
                            text-decoration: none;
                            color: $light-black;
                            font-size: $size-midle;
                            font-weight: $weight-big;
                        }
                        .link {
                            text-decoration: none;
                            color: $light-gray;
                            font-size: $size-midle;
                            font-weight: $weight-big;
                            &:hover {
                                color: $light-black;
                            }
                        }
                    }
                }
            }
            .carts {
                margin-top: 50px;
                display: flex;
                gap: 30px;
                flex-wrap: wrap;
                .cart {
                    width: 255px;
                    border: 1px solid $light-gray;
                    border-radius: 5px;
                    .cart__img {
                        object-fit: cover;
                        & img {
                            width: 100%;
                        }
                    }
                    &__about {
                        display: flex;
                        justify-content: space-around;
                        padding: 20px 10px;
                        border-top: 1px solid $light-gray;
                    }
                }
            }
        }
    }
}