$container-width:1217px;
$personal-section-width:880px;
$main-width:445px;
$main-about-width:952px;
$item-width:350px;
$button-width:205px;
$comment-width:420px;
$direction-width:333px;
$item-text:251px;
$drops-width:94px;
$cards-item-width:369px;
$person-about:184px;
$element-height:70px;
$picture-height:500px;
$picture-size-height:400px;
$main-picture-height:937px;
$line-height-title:56px;
$line-height-main:32px;
$line-height-button:60px;
$line-height-slider:48px;
$line-height:2px;
$main-about-height:30px;
$main-item-about-height:24px;
$transform-describe:229px;