.post__add {
    .add__btn {
        padding: 0;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: none;
        color: inherit;
        cursor: pointer;
        border-radius: 2px;
        font-size: 20px;
        margin: 0px 5px;
        &:hover {
            background: #edeff1;
        }
    }
}