.toolbar {
    color: #878a8c;
    background-color: #f5f5f5;
    padding: 0px;
    border-radius: 5px;
    border: 1px solid white;
}

.toolbar:hover {
    border: 1px solid blue;
    background-color: white;
}