body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0px auto;
    border: 1px solid black;
}

.content__left {
    width: 585px;
}

.content__area__image {
    object-fit: cover;
}

.content__area__image img {
    width: 100%;
}

.content {
    display: grid;
    grid-template-columns: 50% 50%;
}

.content__right {
    display: grid;
    grid-template-columns: 50% 50%;
}

.area__image {
    object-fit: cover;
}

.area__image img {
    width: 100%;
}