// Width
$size-spacing-logo-width:80px;
$size-spasing-percent-width:72%;
$size-spasing-dropdown-width:86px;
$size-spacing-search-width:614px;
$size-spacing-burger:220px;
// Height
$size-spacing-logo-height:80px;
$size-spacing-search-height:30px;
$size-spacing-line-height:1.5em;
$size-spacing-logo-height:20px;