/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#PageHeader {
  font-family: Poppins;
}

#PageHeader .container {
  padding: 30px 100px;
}

#PageHeader .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#PageHeader .container .header .logo {
  cursor: pointer;
}

#PageHeader .container .header .logo__name {
  color: #212529;
  font-size: 25px;
  font-weight: 800;
}

#PageHeader .container .header .logo__name .tomato {
  color: #da0909;
}

#PageHeader .container .header .logo__text {
  color: #57616b;
  font-size: 12px;
  font-weight: 800;
}

#PageHeader .container .header .logo__text p {
  line-height: 2.2em;
}

#PageHeader .container .header .view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #57616b;
  cursor: pointer;
}

#PageHeader .container .header .view__num {
  font-size: 14px;
  font-weight: 400;
}

#PageHeader .container .header .view__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

#PageHeader .container .header .view .view__icons--basket {
  font-size: 25px;
}

#PageMain {
  font-family: Poppins;
  margin-top: 30px;
}

#PageMain .container {
  padding: 30px 100px;
}

#PageMain .container .main .main__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#PageMain .container .main .main__filter .headfilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

#PageMain .container .main .main__filter .headfilter .element .link--different {
  text-decoration: none;
  color: #212529;
  font-size: 14px;
  font-weight: 800;
}

#PageMain .container .main .main__filter .headfilter .element .link {
  text-decoration: none;
  color: #57616b;
  font-size: 14px;
  font-weight: 800;
}

#PageMain .container .main .main__filter .headfilter .element .link:hover {
  color: #212529;
}

#PageMain .container .main .carts {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#PageMain .container .main .carts .cart {
  width: 255px;
  border: 1px solid #57616b;
  border-radius: 5px;
  background-color: white;
}

#PageMain .container .main .carts .cart .cart__img {
  -o-object-fit: cover;
     object-fit: cover;
}

#PageMain .container .main .carts .cart .cart__img img {
  width: 100%;
}

#PageMain .container .main .carts .cart__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 10px;
  border-top: 1px solid #57616b;
}

body {
  background-color: #f8f8f8;
}
/*# sourceMappingURL=style.css.map */